/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  border-color: gray;
}

section {
  margin: 3rem;
}

.project-cards {
  border-radius: 10px;
  width: 50%;
  border-width: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1.125rem;
  border-style: solid;
}

.projects-collection {
  display: flex;
  overflow:auto;
  gap: 1rem;
}

.landing-section {
  padding: 5rem 0;
}

.skill--collections {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.intro {
  width: 50%;
  max-width: 80rem;
  height: 100px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.skillCard--panel {
  border: solid;
  border-color: gray;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-row-form {
  display: flex;
  gap: 0.5rem;
}

.skill--item {
  padding: 0.135rem;
  border: solid;
  margin: 0 0.125rem;
}
/* .align-right {
  align-self: right;
} */